<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.total}">
                            14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!--content-->
                <div class="ui attached  segment">

                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog:${page.list}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="m-black" th:text="${blog.title}">博客标题</a></h3>
                                <p class="m-text" th:text="|${blog.description}......|">
                                    正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://s1.ax1x.com/2020/05/02/Jj88UJ.jpg"
                                                     th:src="@{${blog.userAvatar}}" alt="" class="ui avatar image">
                                                <div class="content"><a href="/about" th:text="${blog.nickname}"
                                                                        class="header">零分</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-10-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a th:href="@{/types/{id}(id=${blog.typeId})}" target="_blank"
                                           class="ui teal basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.typeName}">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://s1.ax1x.com/2020/05/02/Jj88UJ.jpg"
                                         th:src="@{${blog.firstPicture}}"
                                         width="60%" height="60%"
                                         align="right"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <!--/*-->
                    <!--*/-->
                </div>


                <div class="ui attached center aligned segment">
                    <div class="ui pagination stackable menu">
                        <a class="item" th:classappend="${page.isFirstPage} ? 'active teal'"
                           th:href="@{/(pageNum=${page.navigateFirstPage})}">
                            首页
                        </a>
                        <a class="item" th:unless="${page.isFirstPage}"
                           th:href="@{/(pageNum=${page.prePage})}">
                            上一页
                        </a>
                        <a class="item">
                            第<h3 class="ui orange header m-inline-block m-text-thin"
                                 th:text="${page.getPageNum()}">8</h3>页
                        </a>
                        <a class="item" th:unless="${page.isLastPage}"
                           th:href="@{/(pageNum=${page.nextPage})}">
                            下一页
                        </a>
                        <a class="item" th:classappend="${page.isLastPage} ? 'active teal'"
                           th:href="@{/(pageNum=${page.navigateLastPage})}">
                            尾页
                        </a>
                        <a class="item">
                            共<h3 class="ui red header m-inline-block m-text-thin"
                                 th:text="${page.pages}">8</h3>页
                        </a>

                        <form name="page" class="right item" action="#" th:action="@{/}"
                              method="get" target="_blank">
                            <div class="ui right labeled input">
                                <div class="ui basic label">Go</div>
                                <input type="text" name="pageNum" placeholder="页码..."
                                       style="width: 80px;">
                                <div class="ui basic label">页</div>
                                <button class="ui icon button"><i onclick="document.forms['page'].submit()"
                                                                  class="right arrow icon"></i></button>
                            </div>
                        </form>
                    </div>
                    <input type="hidden" id="first" th:value="${page.getPageNum()}"/>
                    <input type="hidden" id="last" th:value="${page.pages}"/>
                </div>
            </div>

            <!--右边的top-->
            <div class="five wide column">

                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/types/-1}" target="_blank">more<i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item"
                               th:each="type:${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui blue basic left pointing label" th:text="${type.blogs}">13</div>
                            </a>
                        </div>
                    </div>


                </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank"
                           class="ui blue basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${tag.blogNums}">3</div>
                        </a>
                    </div>
                </div>

                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div th:each="blog : ${recommendBlogs}">
                        <div class="ui segment">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                               class="m-black m-text-thin"
                               th:text="${blog.title}">用户故事</a>
                        </div>
                    </div>

                </div>

                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-large">联系作者</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>
            </div>

        </div>
    </div>

</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>