<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfen.website.blog.mapper.BlogMapper">
    <update id="updateBlog">
      update blog set title=#{blog.title},content=#{blog.content},first_picture=#{blog.firstPicture},flag=#{blog.flag},
      appreciation=#{blog.appreciation},share_statement=#{blog.shareStatement},commentabled=#{blog.commentabled},
      published=#{blog.published},recommend=#{blog.recommend},update_time=#{blog.updateTime},type_id=#{blog.typeId},
      description=#{blog.description},tag_ids=#{blog.tagIds}
      where id=#{blog.id}
    </update>
    <update id="updateViews">
        update blog b set b.views=b.views+1 where id=#{blogId}
    </update>
    <select id="getPreviewBlog" resultMap="previewBlog">
        select b.id,b.title,b.first_picture,b.views,b.update_time,b.type_id,b.user_id,b.description ,
        t.name as type_name,u.avatar as user_avatar,u.nickname
        from blog b,type t,user u
        where b.type_id=t.id and b.user_id=u.id
    </select>
    <select id="getRecommendPreviewBlog" resultMap="recommendPreviewBlog">
      select id,title,description
      from blog
      where recommend=1 order by views desc limit #{recommendBlogNums}
    </select>
    <select id="getPreviewBlogByType" resultMap="previewBlog">
         select b.id,b.title,b.first_picture,b.views,b.update_time,b.type_id,b.user_id,b.description ,
        t.name as type_name,u.avatar as user_avatar,u.nickname
        from blog b,type t,user u
        where b.type_id=t.id and b.user_id=u.id and b.type_id=#{typeId}
    </select>
    <select id="getPreviewBlogByTag" resultMap="previewBlog">
SELECT

	b.id,
	b.title,
	b.first_picture,
	b.views,
	b.update_time,
	b.type_id,
	b.user_id,
	b.description,
	t.name AS type_name,
	u.avatar AS user_avatar,
	u.nickname
FROM
	blog b,
	type t,
	user u
WHERE
	b.type_id = t.id
AND b.user_id = u.id
AND b.tag_ids like CONCAT('%',#{tagId},'%')
    </select>
    <select id="getTotalPublishedBlogNums" resultType="java.lang.Integer">
        select count(id) as nums from blog where published=1
    </select>
    <select id="getBlogYears" resultMap="years">
        select DISTINCT DATE_FORMAT(create_time,"%Y") as year from blog ORDER BY year desc
    </select>
    <select id="getArchivesBlog" resultMap="archivesBlog">
        select id,title,flag, DATE_FORMAT(create_time,"%b %d") as date ,description from blog
        where published=1
        and DATE_FORMAT(create_time,"%Y") =#{year}
        order by date desc
    </select>
    <select id="getTypeIdByBlogId" resultType="java.lang.Integer">
        select type_id from blog where id=#{blogId} limit 1
    </select>


    <resultMap id="previewBlog" type="com.lingfen.website.blog.bean.helpbean.PreviewBlog">
    </resultMap>
    <resultMap id="recommendPreviewBlog" type="com.lingfen.website.blog.bean.helpbean.RecommendPreviewBlog">
    </resultMap>
    <resultMap id="years" type="string">
    </resultMap>
    <resultMap id="archivesBlog" type="com.lingfen.website.blog.bean.helpbean.ArchivesBlogBean">
    </resultMap>


</mapper>