<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfen.website.blog.mapper.TagMapper">
    <update id="updateTag">
        update tag set name=#{tag.name} where id=#{tag.id}
    </update>
    <update id="updateBlogNumsByTagId">
        UPDATE tag
        SET blog_nums = (
	    SELECT
		    count(id)
	    FROM
		    blog
	    WHERE
		    tag_ids LIKE CONCAT('%', #{tagId}, '%')
        )
        WHERE
	        id = #{tagId}
    </update>
    <select id="selectTagByName" resultType="com.lingfen.website.blog.bean.Tag">
        select * from tag where name=#{name} limit 1
    </select>
    <select id="getAllTag" resultMap="tag">
        select * from tag order by blog_nums desc
    </select>
    <select id="selectTagById" resultType="com.lingfen.website.blog.bean.Tag">
        select * from tag where id=#{id} limit 1
    </select>
    <select id="getPreViewTag" resultMap="tag">
        select * from tag order by blog_nums desc limit #{nums}
    </select>
    <select id="getMaxNumsBlogTagId" resultType="java.lang.Integer">
        select id from tag where blog_nums in
        (SELECT max(blog_nums) from tag) limit 1
    </select>

    <select id="getTagIdsByBlogId" resultMap="tagIds">
        select tag_id from blog_relation_tag where blog_id=#{blogId}
    </select>
    <select id="getTagByTagId" resultType="com.lingfen.website.blog.bean.Tag">
        select * from tag where id=#{tagId}
    </select>
    <select id="getTagIds" resultMap="tagIds">
        select id from tag
    </select>
    <delete id="deleteTagById">
        delete from tag where id=#{id} limit 1
    </delete>
    <resultMap id="tag" type="com.lingfen.website.blog.bean.Tag">
    </resultMap>
    <resultMap id="tagIds" type="int">
    </resultMap>
</mapper>