<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfen.website.blog.mapper.TagMapper">
    <select id="selectTagByName" resultType="com.lingfen.website.blog.bean.Tag">
        select id,name from tag where name=#{name} limit 1
    </select>
    <select id="getAllTag" resultMap="tag">
        select * from tag
    </select>
    <select id="selectTagById" resultType="com.lingfen.website.blog.bean.Tag">
        select * from tag where id=#{id} limit 1
    </select>
    <delete id="deleteTagById" >
        delete from tag where id=#{id} limit 1
    </delete>
    <resultMap id="tag" type="com.lingfen.website.blog.bean.Tag">

    </resultMap>
</mapper>