<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfen.website.blog.mapper.UserMapper">
    <select id="getUserByUsername" resultType="com.lingfen.website.blog.bean.User">
        select * from t_user where username = #{username}
    </select>
</mapper>