<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfen.website.blog.mapper.VisitorInfoMapper">
    <update id="updateVisitTimes">
      update visitor_info v set v.visit_times=v.visit_times+1 where id=#{id}
    </update>

    <select id="searchIpIsExist" resultType="java.lang.Integer">
        select id from visitor_info where ip=#{ip} limit 1
    </select>
</mapper>